*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  max-width: 2560px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
 width: 100%;
 min-height: 100vh;
}

li{
  list-style: none;
}

:focus{
  outline: none;
}
